<div class="col-md-4 col-mf-offset-4">
    <h2>新增版块</h2>
    <hr>

    <%= form_for @group do |f| %>
      <% if @group.errors.any? %>
      <ul>
        <% @group.errors.full_messages.each do  |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
    标题
    <%= f.text_field :title %>
    <br>
    叙述
    <%= f.text_area :description%>
    <br>
    <%= f.submit "Submit", :disable_with => "Submitting..." %>
  <% end %>
</div>